/debian/upstream/
/debian/phi-adapter-matter/
/debian/.debhelper/
/debian/debhelper-build-stamp
/debian/files
/debian/*.substvars
/debian/*.debhelper.log
/adapter/third_party/
/adapter/build_overrides
